# Ignore virtual environments
venv/
.venv/

# Ignore buildcores open db
buildcores-open-db/

# Ignore python cache files
__pycache__/

# Ignore database files
*.sqlite3

# Ignore listing_images
listing_images/