{% extends "base.html" %}

{% block title %}PC Marketplace{% endblock %}

{% block content %}
    <!-- <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Send</button>
    </form> -->
    <form method="post">
    {% csrf_token %}
    
    {% for field in form %}
        <div class="form-field">
            {{ field.label_tag }}
            {{ field }}
            {% if field.help_text %}
                <small>{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
                <p class="field-error">{{ error }}</p>
            {% endfor %}
        </div>
    {% endfor %}
    
    <button type="submit">Submit</button>
    <a href="{% url 'listings:all_listings_page' %}" class="form-cancel-link">Cancel</a>
</form>

{% endblock %}