{% extends "base.html" %}

{% block title %}{{ listing.title }}{% endblock %}

{% block content %}
<h1>{{ listing.title }}</h1>

<p><strong>Price:</strong> ${{ listing.price }}</p>
<p><strong>Condition:</strong> {{ listing.get_condition_display }}</p>
<p><strong>Product:</strong> {{ listing.product.product_name }}</p>
<p><strong>Stock:</strong> {{ listing.stock }}</p>
<p><strong>Seller:</strong> {{ listing.owner.username }}</p>

<h3>Description:</h3>
<p>{{ listing.listing_text }}</p>

{% if images %}
    <h3>Images:</h3>
    {% for image in images %}
        <img src="{{ image.image.url }}" width="300" alt="{{ image.caption }}">
    {% endfor %}
{% endif %}

<hr>


<h2>Product Reviews</h2>

<!-- THIS IS FOR THE ADD REVIEW BUTTON -->
{% if user.is_authenticated %}
    {% if user_has_reviewed %}
        <p>You have already submitted a review for this product. Thank you!</p>
    {% else %}
        <a href="{% url 'listings:add_review' p_id=listing.product.id l_id=listing.id %}">Add Listing</a>
            {% csrf_token %}
            <!--                 
            <div>
                <label style="font-weight: bold;">Rating:</label>
                {{ review_form.rating }}
            </div>
            
            <div style="margin-top: 10px;">
                <label style="font-weight: bold;">Comment:</label><br>
                {{ review_form.comment }}
            </div>
                -->
    {% endif %}
{% else %}
    <p><a href="{% url 'accounts:login' %}?next={{ request.path }}">Log in</a> to leave a review.</p>
{% endif %}


<div style="margin-bottom: 20px;">
    {% for review in listing.reviews.all %}
        <div style="border: 1px solid #ccc; padding: 10px; margin-bottom: 10px; border-radius: 5px;">
            <strong>Rating: {{ review.rating }} / 5 Stars</strong>
            <p style="margin-top: 5px;">{{ review.comment|linebreaksbr }}</p>
            <small>By {{ review.reviewer.username }} on {{ review.uploaded_at|date:"F j, Y" }}</small>
        </div>
    {% empty %}
        <p>No reviews for this product yet.</p>
    {% endfor %}
</div>

<!-- <hr>

<div>
    <h3>Leave a Review</h3>
    
    {% if user.is_authenticated %}
        {% if user_has_reviewed %}
            <p>You have already submitted a review for this product. Thank you!</p>
        {% else %}
            <a href="{% url 'listings:add_review' p_id=listing.product.id l_id=listing.id %}">Add Listing</a>
                {% csrf_token %}
                                
                <div>
                    <label style="font-weight: bold;">Rating:</label>
                    {{ review_form.rating }}
                </div>
                
                <div style="margin-top: 10px;">
                    <label style="font-weight: bold;">Comment:</label><br>
                    {{ review_form.comment }}
                </div>
                
        {% endif %}
    {% else %}
        <p><a href="{% url 'accounts:login' %}?next={{ request.path }}">Log in</a> to leave a review.</p>
    {% endif %}
</div> -->

<hr>

{% if is_owner %}
    <a href="{% url 'listings:edit_listing' l_id=listing.id %}">Edit</a>
{% endif %}

<a href="{% url 'listings:all_listings_page' %}">Back to Listings</a>

{% endblock %}