{% extends "base.html" %}

{% block title %}Select Product Type - PC Marketplace{% endblock %}

{% block content %}
    <h1>Select a Product Type</h1>
    
    <form id="select_form">
        <select id="p_type_select" name="p_type">
            {% for option in options %}
                <option value="{{ option.value }}">{{ option.name }}</option>
            {% endfor %}
        </select>
        <button type="submit">Next</button>
    </form>
    
    <script>
        document.getElementById("select_form").onsubmit = function(e) {
            e.preventDefault();
            const p_type = document.getElementById("p_type_select").value;
            
            // Goes to product search page based on the type chosen
            window.location.href = `/listings/${p_type}/search-products/`;
        }
    </script>
{% endblock %}